.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #05b6a4;
    border-radius: 4px;
    width: 100%;
}

.button {
    padding: 10px 20px;
    background-color: #05b6a4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #05b6a4;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin-bottom: 10px;
}

.list li strong {
    font-weight: bold;
}

.fila {
    color: red;
}