.container {
    margin: 20px;
}

.input {
    margin-bottom: 10px;
}

.button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.movie {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.title {
    font-weight: bold;
}

.editButton {
    margin-right: 5px;
    background-color: #28a745;
}

.deleteButton {
    background-color: #dc3545;
}